
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    box-sizing: border-box;
}
:root{
    --primary-color:#22254b;
    --gray-dark:#343a40;
}
*{
    box-sizing: border-box;
}
body{
    font-family: 'Poppins',sans-serif;
    margin: 0;
   background-color:#343a40;
    
}
/*-------------------Navbar area---------------*/
.navbar-custom {
  background:#395571;
}
.navbar-custom .navbar-brand,
 .navbar-custom .navbar-text {
color: #fff;
}
.logo{
    font-size: 30px;
    color: #B3E5FC;
    font-weight: bold;
}
.nav-link {
    color: #B3E5FC !important;  
    overflow: hidden;
}
.banner img{
    width: 100%;
    height:50vh;
}
.text-box{
    background-color:#1e88e559;
    padding: 5px;
}
.btn_overview:hover{
  background-color:#1e88e559;
  color: #f1f1f1;
  color: #F4511E !important;
  transition: ease-in 0.5s;
}
.logo img{
  width: 100px;
  margin-left: 2px;
}
* {
    -webkit-transition: 300ms;
    transition: 300ms;
  }
  
  .intro {
    text-align: center;
  }
  
  ul {
    list-style-type: none;
  }
  
  h1, h2, h3, h4, h5, p {
    font-weight: 400;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  a:hover {
    color: #F4511E !important;
  }
  
  .movie-folder{
    overflow: hidden;
  }
  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 100%;
    margin-top: 10vh;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  /*---------------Movie card area*/
  .movie-card {
    background: #ffffff;
    box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 315px;
    margin: 2em;
    border-radius: 10px;
    display: inline-block;
    overflow: hidden;
  }
  

  .movie-header {
    padding: 0;
    margin: 0;
    height: 367px;
    width: 100%;
    display: block;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
 
  .header-icon-container {
    position: relative;
  }
  
  .header-icon {
    width: 100%;
    height: 367px;
    line-height: 367px;
    text-align: center;
    vertical-align: middle;
    margin: 0 auto;
    color: #ffffff;
    font-size: 54px;
    text-shadow: 0px 0px 20px #6abcea, 0px 5px 20px #6ABCEA;
    opacity: .85;
  }
  
  .header-icon:hover {
    background: rgba(0, 0, 0, 0.15);
    font-size: 74px;
    text-shadow: 0px 0px 20px #6abcea, 0px 5px 30px #6ABCEA;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    opacity: 1;
  }
  
  .movie-card:hover {
    -webkit-transform: scale(1.03);
            transform: scale(1.03);
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.08);
  }
  
  .movie-content {
    padding: 18px 18px 24px 18px;
    margin: 0;
    height: 300px;
  }
  
  .movie-content-header, .movie-info {
    display: table;
    width: 100%;
  }
  
  .movie-title {
    font-size:18px;
    margin: 0;
    display: table-cell;
  }
  
  .imax-logo {
    width: 50px;
    height: 15px;
    background: url("https://6a25bbd04bd33b8a843e-9626a8b6c7858057941524bfdad5f5b0.ssl.cf5.rackcdn.com/media_kit/3e27ede823afbf139c57f1c78a03c870.jpg") no-repeat;
    background-size: contain;
    display: table-cell;
    float: right;
    position: relative;
    margin-top: 5px;
  }
  /*-----------Movie info-----------*/
  .movie-info {
    margin-top: 1em;
  }
  
  .info-section {
    display: table-cell;
    text-transform: uppercase;
    text-align: center;
  }
  
  .info-section:first-of-type {
    text-align: left;
  }
  
  .info-section:last-of-type {
    text-align: left;
    padding-left: 10px;
  }
  
  
  .info-section label {
    display: block;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: .5em;
    font-size: 9px;
  }
  
  .info-section span {
    font-weight: 700;
    font-size: 11px;
  }
  #tags li:hove{
    cursor: pointer !important;
    cursor: hand;
  }
  @media screen and (max-width: 1440px) {
    #tags li {
      
      padding: 0 15px !important;
  }}
  @media screen and (max-width: 1024px) {
  #tags li {
    font-size: 12px;
    padding: 0 5px !important;
}
}
  
  @media screen and (max-width: 500px) {
    .movie-card {
      width: 95%;
      max-width: 95%;
      margin: 1em;
      display: block;
    }
  
    .container {
      padding: 0;
      margin: 0;
    }
  }

  .btn_overview {
    padding: 3px 42px;
    box-shadow: none;
    border-radius: 30px !important;
    background-color: none;
    border-radius:30px;
    border: 2px solid #0d61c2;
}
 .btn-outline-dark {
  color: #6abcea !important;
  background-color: transparent;
  background-image: none;
  border-color: #6abcea !important;
}
img.card-img {
  width: 100%;
  height: 57vh;
}
.movie-info{
  overflow: hidden;
}
.info-section p{
  line-height: 25px;
  height:80px;
  overflow: hidden;
}
.theDarkTower img{
  height:360px;
  margin-bottom: 20px;
}
.footer-btn{
  margin-top:20px ;
  margin-bottom: 20px;
}
.left-img{
  margin-top: 30px;
  margin-left: 20px;
  margin-bottom: 30px;
}
.left-img img{
  width: 80%;

}
.text-box{
  margin-top:30px ;
  margin-bottom: 30px;
  color: #6abcea;
  padding-top: 30px;
}
.text-box h2{
  padding-left: 2%;
}
.text-box h5{
  padding-left: 2%;
  padding-top: 2%;
  padding-bottom: 2%;
}

.text-box p{
  padding-bottom: 5%;
  padding-left: 2%;
  line-height: 30px;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    /* color: rgba(0, 0, 0, .9); */
    color: #F4511E !important;
    cursor: pointer;
}
.navbar-light .navbar-nav a:hover{
  color: #F4511E !important;
}
ul#tags {
  color: #B3E5FC;
}
#tags li {
  padding: 0 20px;
  cursor: pointer;
}
.active,#tags li:hover{
  
  color: #F4511E !important; 
  cursor: pointer;
}
.active{
  color: #F4511E !important;
}
.btn_banner{
  text-decoration: none;
  padding: 10px 50px;
  margin-top: 40px;
  margin-bottom: 40px;
  border-radius: 30px;
  color: #fff !important;
}
.btn_banner a{
  color: #fff!important;
}
input#search {
  border-radius: 50px;
}
.over_text {
  height: 100px;
  overflow: hidden;
}
.top_movie {
  color: #fff;
  margin: 60px 0;
}
/*----------Movie Overlay area----------*/
.overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top:10%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 60px;
  color: white;
  text-decoration: none;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  left: 10px;
}

.right-arrow {
  right: 10px;
}
.embed{
  margin-bottom: 20px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}
.overlay-content h1{
  color: #fff !important;
}
.overlay-content p {
  margin: 20px 76px;
  padding: 20px;
  color: #fff;
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 20px;
}
.embed.hide{
  display: none !important;

}
.embed.show{
  display: inline-block !important;
}
.arrow1{
  color: #fff;
}
.space{
  padding-left: 20px;
}
a.icon {
  float: right;
  display: none ;
  color: #B3E5FC;
  margin-right: 5px;
  margin-left: 5px;
}
.icon:hove{
  color: #F4511E !important;
}
.topnav .icon {
  display: block;
}
@media screen and (max-width: 768px) {
  .topnav {display: none;
  transition: ease-in-out 10s;
  }
  .topnav .icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 768px) {
  a.icon{
    display: block;
  }
 
.topnav.responsive {position: relative;}
.topnav.responsive a.icon {
  position: absolute;
  right: 0;
  top: 0;
}
.topnav.responsive  {
  float: none;
  display: block !important;
  text-align: center;
  transition: ease-in-out 10s;
}}
